@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.burger-menu {
  transition: transform 0.3s ease;
}
.burger-menu-disabled {
  transform: translateX(-100vw);
}
.burger-menu-enabled {
  transform: translateX(0);
}

.header-nav {
  li {
    a {
      padding: 0.1rem 0.4rem;
    }
  }
}

.selectedPage {
  border: 1px solid #4b4b4b;
  border-radius: 0.4rem;
}
